* {
    font-family: arial;
}

a {
    color: black;
}

.header {
    font-size: 25px;
}

.introduction {
    font-size: 70px;
}

#nav {
    text-align: right;
}

div {
    width: ;
}

.links {
    font-size: 35px;
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}